apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ cluster_ca_crt.stdout }}
    server: https://{{ ansible_default_ipv4.address }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: local-admin
  name: local-admin@kubernetes
current-context: local-admin@kubernetes
kind: Config
preferences: {}
users:
- name: local-admin
  user:
    client-certificate-data: {{ local_admin_crt.stdout }}
    client-key-data: {{ local_admin_key.stdout }}